* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

* a:link {
    color:ghostwhite;
    text-decoration: none;
}

* a:hover {
    text-decoration: underline;
}

* a:visited {
    color:rgba(32, 31, 31, .6);
}

#headerstyle {
    height: 80%;
    width: 100%;
    background-color:darkcyan;
    background-position: center;
    background-size: cover;
    position: relative;
}

header div h1 {
font-size: 2em;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: inline-flex;
background-color: rgba(32, 31, 31, .7) ;
color:azure ;
padding: 10px;
border: 5px solid;
border-color: rgba(32, 31, 31, .9);
margin: 15px;
}

/* header div h1:hover {
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
} */

nav {
display: flex;
padding: 2% 12%;
justify-content: space-between;
align-items:center
}

.mainlinks {
    flex: 1;
    text-align: right;
}

.mainlinks ul li {
    display: inline-block;
    padding: 10px 5px;
    list-style: none;
    font-size: 1.5em;
    margin: 10px;
}

.mainlinks ul li:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.banner {
    position: relative;
    top: 0;
    left: 0;
}

.skyline {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(32, 31, 31, .7) ;
}

.profile {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 5px solid rgba(32, 31, 31, .7);
}



#aboutme h2 {
    font-size: 1.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-flex;
    background-color: rgba(32, 31, 31, .7) ;
    color:azure ;
    padding: 10px;
    border: 5px solid;
    border-color:  rgba(32, 31, 31, .9);
    margin: 15px;
    margin-bottom: 50px;
}

#aboutme p {
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    

}


#work h2 {
    font-size: 1.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(32, 31, 31, .7) ;
    color:azure ;
    padding: 10px;
    border: 5px solid;
    border-color:  rgba(32, 31, 31, .9);
    margin-top: 100px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color:darkcyan;
    padding: 10px;
    margin-bottom: 100px;
    border: 10px solid rgba(32, 31, 31, .4)
}

.container section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.project-large {
    padding: 10px;
    border: 150px;
    border-color: rgba(32, 31, 31, .4);
    margin-bottom: 100px;
}

.project-large img {
    margin-top: 10px;
    height: 600px;
    width: 800px;
    border: 10px solid rgba(32, 31, 31, .6)
}

.project-large h3 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    /* display: inline-flex; */
    background-color: rgba(32, 31, 31, .7);
    color:azure ;
    padding: 10px;
    border: 5px solid;
    border-color: rgba(32, 31, 31, .9);
    margin: 15px;
}

.sm-card img {
    width: 400px;
    height: 250px;
    padding: 10px;
    border: 10px;
    margin: 20px;
    background-color: rgba(32, 31, 31, .4);
}

.sm-card h3 {
    font-size: 1.5em;
}

footer section {
    width: 100%;
    padding: 10px;
    border: 5px solid  rgba(32, 31, 31, .7) ;
}

#contactbox {
    padding: 2% 12%;
    justify-content: center;
    background-color:darkcyan;
}

#contactbox h2 {
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-flex;
    background-color: rgba(32, 31, 31, .7) ;
    color:azure ;
    padding: 10px;
    border: 5px solid;
    border-color: rgba(32, 31, 31, .9);
    margin: 15px;
}

.contactinner {
    display: flex;
    justify-content:space-around;
    flex-grow: 5;
    border: 5px solid;
    border-color:  rgba(32, 31, 31, .7);
    background-color: rgba(32, 31, 31, .7) ;
    color:azure ;
    padding: 10px;
    border: 5px solid;
    border-color: rgba(32, 31, 31, .9);
    margin: 15px;
}

#phone {
    font-size: 1.2rem;
    padding: 10px;
}

#email {
    font-size: 1.2rem;
    padding: 10px;
}

#github {
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 900;
}

#linkedin {
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 900;
}






/*media queries*/